@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .primaryText {
        color: #0f1629;
    }

    .primaryBg {
        background-color: #0f1629;
    }

    .ctaBg {
        @apply bg-orange-400;
    }

    .Rborder {
        @apply border border-red-500;
    }

    .fontRobota {
        font-family: 'Roboto';
    }
}